Dockerfile
Dockerfile.test
.dockerignore
docker-compose.*
.git/
.gitignore

.env
.env.example
vendor/
/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules/
reports/*
bootstrap/cache/config.php
bootstrap/cache/packages.php
bootstrap/cache/routes.php
bootstrap/cache/services.php

Jenkinsfile
